html,body{
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}
body{
  background:url('../img/background.jpg');
  background-size: cover;
}
div {
  text-align:center;
  margin: auto;
}
.movie{
  margin: 3% auto;
}
.header{
  text-align: center;
  margin: auto;
  font-size: 4em;
}
.top{
  margin-top: 10px;
}
.poster img{
  height: 500px;
  width: 333px;
  border-radius: 5px;
}
.overview{
  text-align: center;
  margin: auto;
  margin-bottom: 5%;
  background-color: rgba(0,0,0,0.5);
  width: 85%;
  color: white;
  border-radius: 5px;
}
.placeholder{
  visibility: hidden;
}
.overview p {
  padding: 15px 2.5%;
}

.navigation{
  width:25%;
  margin-bottom: 3%;
}
.animate{
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button{
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
  border-radius: 10px;
  font-size: 25px;
  color: #FFF;
  text-decoration: none;  
}
.left{
  float:left;
  background-color:white;
  color:black;
}
.right{
  float:right;
  background-color:black;
  color:white;
}

footer {
  clear: both;
  margin: auto;
  margin-top: 5%;
  text-align: center;
}
footer p{
  margin: 0;
}
footer a:link{
  text-decoration: none;
  color: blue;
  font-size: 1.3em;
  font-weight: bolder;
}
footer a:visited{
  color: blue;
  text-decoration: none;
  font-weight: bolder;
}